<% provide(:title, @note.title) %>

<div class="row">

  <aside class="col-md-4">

    <section class="info">
      (user_note)<br>

      <%= render 'user_notes/info_header_body', note: @note %>

      <%= icon_for(@note, { name: @note.title, size: 256 }) %>

      <%= render 'user_notes/info_footer', note: @note, kind: "show" %>

    </section>

    <hr>

    <% if @note.can_update?(current_user) %>
      <span class="side_header small">
        <span class="count">
          pictures (<%= @pictures.count %>)
        </span>
        <span class="command">
          <%= link_to "[new]", new_note_picture_path(@note) %>
        </span>
      </span>
      <% if @pictures.any? %>
        <ol class="picture_list small">
          <%= render @pictures %>
        </ol>
      <% end %>
    <% end %>
    
  </aside>

  <div class="col-md-8">

    <span class="main_header">
      <span class="count">
        memos (<%= @all_memos.count %>)
      </span>
      <span class="command">
        <% if @note.can_update?(current_user) %>
          <%= link_to "[new]", new_note_memo_path(@note) %>
        <% end %>
      </span>
    </span>
    <% if @all_memos.any? %>
      <ol class="memo_list">
        <%= render @page_memos %>
      </ol>
      <%= will_paginate @page_memos, renderer: will_pagenate_renderer %>
    <% end %>

  </div>

</div>