<li id="group_note-<%= group_note.id %>">

  <% if group_note.picture? %>
    <%= image_tag group_note.picture.url, width: 64, height: 64 %>
  <% else %>

  <% end %>

  <span class="header">
    <span class="title"><b><%= link_to group_note.title, group_group_note_path(@group, group_note) %></b></span>
    <% if group_note.pen_name %>
      <span class="author"><i>by <%= group_note.pen_name.name %></i></span>
    <% end %>
  </span>

  <span class="body">
    <span class="description"><%= group_note.description %></span>
  </span>

  <span class="footer">
    <span class="timestamp text-muted">updated <%= time_ago_in_words(group_note.updated_at) %> ago.</span>
    <span class="command">
      <%= link_to "[edit]", edit_group_group_note_path(@group, group_note) %>
      <%= link_to "[delete]", group_group_note_path(@group, group_note), method: :delete,
                              data: { confirm: "You sure?" } %>
      <%= link_to "[to_book]", to_book_group_group_note_path(@group, group_note),
                                data: { confirm: "You sure?" } %>
    </span>
  </span>

</li>
