<span class="footer">
  <span class="timestamp text-muted">
    <%= timestamp(note) %>
  </span>

  <span class="command">
    <% if kind == "show" and pen_name %>
      <% if note.group.is_leading_member?(pen_name) %>
        <%= link_to "[delete]", group_group_note_path(note.group, note), method: :delete,
                                data: { confirm: "You sure?" } %>

        <% if note.is_open? %>
          <%= link_to "[to_close]", to_close_group_group_note_path(note.group, note) %>
        <% else %>
          <%= link_to "[to_open]", to_open_group_group_note_path(note.group, note) %>
        <% end %>
      <% end %>

      <% if note.group.is_regular_member?(pen_name) %>
        <%= link_to "[edit]", edit_group_group_note_path(note.group, note) %>
      <% end %>
    <% end %>
  </span>
</span>