<% provide(:title, @note.title) %>

<% if @note.can_update?(current_user) %>
  <% new_memo_command = link_to "[new]", new_note_memo_path(@note) %>
  <% new_picture_command = link_to "[new]", new_note_picture_path(@note) %>
<% else %>
  <% new_memo_command = "" %>
  <% new_picture_command = "" %>
<% end %>

<div class="row">

  <aside class="col-md-4">

    <section class="info">
      (group_note)

      <%= render 'group_notes/info_header_body', note: @note %>

      <%= icon_for(@note, { name: @note.title, size: 256 }) %>

      <%= render 'group_notes/info_footer', note: @note, kind: "show" %>
    </section>

    <% if @note.can_update?(current_user) %>
      <%= render 'shared/paging_list',
                  title: "pictures", all_list: @pictures, page_list: @pictures,
                  command: new_picture_command, paging: false %>
    <% end %>
    
  </aside>

  <div class="col-md-8">

    <%= render 'shared/paging_list',
                title: "memos", all_list: @all_memos, page_list: @page_memos,
                command: new_memo_command, paging: true %>

  </div>

</div>