<%= form_for([@room.becomes(Room), @message]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <% pen_name = @room.get_user_pen_name(current_user) %>
    <% if pen_name %>
      <%= f.select :pen_name_id, [[pen_name.name, pen_name.id]], class: 'form-control' %>
    <% else %>
      <%= f.select :pen_name_id,
                  current_user.pen_names.collect { |pen_name| [pen_name.name, pen_name.id] },
                  class: 'form-control' %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.text_area :content, row: 2, class: 'form-control' %>
  </div>

  <div class="form-group text-right">
    <%= f.submit "Create Message", class: "btn btn-primary" %>
  </div>

<% end %>
