<li id="message-<%= message.id %>" class="media">

  <% pen_name = message.pen_name %>

  <%= icon_for(pen_name, { name: pen_name.name, size: 32 }) %>

  <div class="media-body">

    <span class="name">
      <b><%= pen_name.name %></b>
    </span>

    <span class="content">
      <%= message.content %>
    </span>

    <span class="timestamp text-muted">
      <%= timestamp(message, created=true, updated=false) %>
    </span>

  </div>

</li>