<li id="message-<%= message.id %>">

  <% pen_name = message.pen_name %>
  <%= icon_for(pen_name, { name: pen_name.name, size: 64 }) %>

  <span class="header">
    <span class="name">
      <b><%= pen_name.name %></b>
      (<%= @group.get_position_name(pen_name).downcase %>)
    </span>
  </span>

  <span class="body">
    <span class="content"><%= message.content %></span>
  </span>

  <span class="footer">
    <span class="timestamp text-muted">
      <%= timestamp(message, created=true, updated=false) %>
    </span>
  </span>

</li>