<li id="message-<%= message.id %>" class="media">

  <% pen_name = message.pen_name %>

  <% if pen_name %>
    <%= icon_for(pen_name, { name: pen_name.name, size: 32 }) %>
  <% else %>
    <%= icon_for(nil, { name: "noname", size: 32 }) %>
  <% end %>

  <div class="media-body">

    <span class="name">
      <% if pen_name %>
        <b><%= pen_name.name %></b>
      <% else %>
        <b><%= "noname" %></b>
      <% end %>
    </span>

    <span class="content">
      <%= message.content %>
    </span>

    <span class="timestamp text-muted">
      <%= timestamp(message, created=true, updated=false) %>
    </span>

  </div>

</li>