<section class="note_info">

  (note)<br>
  <span class="title"><b><%= @note.title %></b></span><br>
  <span class="author"><i>by <%= @note.pen_name.name %></i></span>
  <span class="description"><%= @note.description %></span>

  <span class="timestamp">
    created <%= time_ago_in_words(@note.created_at) %> ago.<br>
    updated <%= time_ago_in_words(@note.updated_at) %> ago.
  </span>

</section>
    