<% provide(:title, "Notes") %>
<div class="row">

  <aside class="col-md-4">

    <span class="side_header">
      <span class="count">
        pickups (<%= @sample_notes.count %>)
      </span>
      <span class="new_command">
      </span>
    </span>
    <% if @sample_notes.any? %>
      <ol class="side_list">
        <%= render @sample_notes %>
      </ol>
    <% end %>

  </aside>

  <div class="col-md-8">

    <span class="main_header">
      <span class="count">
        notes (<%= @all_notes.count %>)
      </span>
      <span class="new_command">
      </span>
    </span>
    <% if @all_notes.any? %>
      <ol class="note_list">
        <%= render @page_notes %>
      </ol>
      <%= will_paginate @page_notes, renderer: will_pagenate_renderer %>
    <% end %>

  </div>

</div>