<% provide(:title, @note.title) %>
<div class="row">

  <aside class="col-md-4">
    <section class="note_info">
      <h1>
        <%= @note.title %>
      </h1>
      <p>
        <%= @note.description %>
      </p>
      <span class="timestamp">
        created <%= time_ago_in_words(@note.created_at) %> ago.
        updated <%= time_ago_in_words(@note.updated_at) %> ago.
      </span>
    </section>
  </aside>

  <div class="col-md-8">
    <span class="header">
      <span class="count">
        memos (<%= @note.memos.count %>)
      </span>
      <span class="new_command">
        <%= link_to "[new]", new_note_memo_path(@note) %>
      </span>
    </span>

    <% if @note.memos.any? %>
      <ol class="notes">
        <%= render @memos %>
      </ol>
      <%= will_paginate @memos %>
    <% end %>
  </div>

</div>