<% provide(:title, @note.title) %>
<div class="row">

  <aside class="col-md-4">
    <section class="note_info">
      <h1>
        <%= @note.title %>
      </h1>
      <p>
        <%= @note.description %>
      </p>
    </section>
  </aside>

  <div class="col-md-8">
    <span class="new_command">
      <%= link_to "[home]", current_user %>
      <%= link_to "[new]", new_note_memo_path(@note) %>
    </span>

    <% if @note.memos.any? %>
      <h3>Memos (<%= @note.memos.count %>)</h3>
      <ol class="notes">
        <%= render @memos %>
      </ol>
      <%= will_paginate @memos %>
    <% end %>
  </div>

</div>