<li id="user_picture-<%= user_picture.id %>">

  <span class="header">
    <% if user_picture.picture? %>
      <%= image_tag user_picture.picture.url(:thumb) %>
    <% end %>
  </span>

  <span class="body">
    <% if user_picture.picture? %>
      <%= link_to "#{user_picture.picture.url}", user_picture.picture.url %>
    <% end %>
  </span>

  <span class="footer">
    <span class="timestamp text-muted">
      updated <%= time_ago_in_words(user_picture.updated_at) %> ago.
    </span>
    <span class="command">
      <%= link_to "[edit]", edit_user_note_user_picture_path(@note, user_picture) %>
      <%= link_to "[delete]", user_note_user_picture_path(@note, user_picture),
                              method: :delete, data: { confirm: "You sure?" } %>
    </span>
  </span>

</li>