<li id="pen_name-<%= pen_name.id %>">

  <%= icon_for(pen_name, { name: pen_name.name, size: 64 }) %>

  <span class="header">
    <span class="name">
      <% if pen_name.user == current_user %>
        <b><%= link_to pen_name.name, pen_name %></b>
      <% else %>
        <b><%= pen_name.name %></b>
      <% end %>
    </span>

    <% if pen_name.is_open? %>
      <span class="badge badge-primary">open</span>
    <% else %>
      <span class="badge badge-dark">closed</span>
    <% end %>
  </span>

  <span class="body">
    <span class="description"><%= pen_name.description %></span>
  </span>

  <span class="footer">
    <span class="timestamp text-muted">
      updated <%= time_ago_in_words(pen_name.updated_at) %> ago.
    </span>

    <span class="counter text-muted">
      (
        <%= "evaluation: #{pen_name.positive_count} / #{pen_name.negative_count}" %>,
        <%= link_to "books: #{pen_name.books.count}, groups: #{pen_name.groups.count}",
            books_pen_name_path(pen_name) %>
      )
    </span>
  </span>
</li>
