<section class="pen_name_info">

  <%= pen_name_icon_for(@pen_name, {size: 40}) %>

  <span class="name">(pen name) <b><%= @pen_name.name %></b></span>
  <span class="description"><%= @pen_name.description %></span>

  <span class="timestamp">
    created <%= time_ago_in_words(@pen_name.created_at) %> ago.<br>
    updated <%= time_ago_in_words(@pen_name.updated_at) %> ago.
  </span>

</section>