<% provide(:title, "PenNames") %>
<div class="row">

  <aside class="col-md-4">

    <span class="side_header">
      <span class="count">
        pickup pen names (<%= @sample_pen_names.count %>)
      </span>
      <span class="command">
      </span>
    </span>
    <% if @sample_pen_names.any? %>
      <ol class="side_list">
        <%= render @sample_pen_names %>
      </ol>
    <% end %>

  </aside>

  <div class="col-md-8">

    <span class="main_header">
      <span class="count">
        pen names (<%= @all_pen_names.count %>)
      </span>
      <span class="command">
      </span>
    </span>
    <% if @all_pen_names.any? %>
      <ol class="note_list">
        <%= render @page_pen_names %>
      </ol>
      <%= will_paginate @page_pen_names %>
    <% end %>

  </div>

</div>