<% provide(:title, @pen_name.name) %>
<div class="row">

  <aside class="col-md-4">

    <section class="info">
      (pen name)<br>
      <span class="name"><b><%= @pen_name.name %></b></span>
      <span class="description"><%= @pen_name.description %></span>
      <span class="timestamp">
        created <%= time_ago_in_words(@pen_name.created_at) %> ago.<br>
        updated <%= time_ago_in_words(@pen_name.updated_at) %> ago.
      </span>
    </section>

    <hr>

    <span class="side_header">
      <span class="count">
        groups (<%= @groups.count %>)
      </span>
      <span class="command">
      </span>
    </span>
    <% if @groups.any? %>
      <ol class="side_list">
        <%= render @groups %>
      </ol>
    <% end %>

  </aside>

  <div class="col-md-8">

    <span class="main_header">
      <span class="count">
        books (<%= @all_books.count %>)
      </span>
      <span class="command">
      </span>
    </span>
    <% if @all_books.any? %>
      <ol class="note_list">
        <%= render @page_books %>
      </ol>
      <%= will_paginate @page_books %>
    <% end %>

  </div>

</div>