<% provide(:title, @pen_name.name + "Books") %>
<div class="row">

  <aside class="col-md-4">

    <section class="info">
      (pen_name books)<br>

      <span class="header">
        <span class="name">
          <% if @pen_name.user == current_user %>
            <b><%= link_to @pen_name.name, @pen_name %></b>
          <% else %>
            <b><%= @pen_name.name %></b>
          <% end %>
        </span>

        <% if @pen_name.is_open? %>
          <span class="badge badge-primary">open</span>
        <% else %>
          <span class="badge badge-dark">closed</span>
        <% end %>
      </span>

      <span class="body">
        <span class="description"><%= @pen_name.description %></span>
      </span>

      <%= icon_for(@pen_name, { name: @pen_name.name, size: 256 }) %>

      <span class="footer">
        <span class="timestamp">
          created <%= time_ago_in_words(@pen_name.created_at) %> ago.
          updated <%= time_ago_in_words(@pen_name.updated_at) %> ago.
        </span>

        <span class="counter text-muted">
          (
            <%= link_to "works: #{@pen_name.works.count}, groups: #{@pen_name.groups.count}",
                works_pen_name_path(@pen_name) %>
          )
        </span>
      </span>

    </section>

    <hr>

    <span class="side_header">
      <span class="count">
        groups (<%= @groups.count %>)
      </span>
      <span class="command">
      </span>
    </span>
    <% if @groups.any? %>
      <ol class="side_list">
        <%= render @groups %>
      </ol>
    <% end %>

  </aside>

  <div class="col-md-8">

    <span class="main_header">
      <span class="count">
        works (<%= @all_works.count %>)
      </span>
      <span class="command">
      </span>
    </span>
    <% if @all_works.any? %>
      <ol class="note_list">
        <%= render @page_works %>
      </ol>
      <%= will_paginate @page_works %>
    <% end %>

  </div>

</div>