<%= form_for(@group) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :group_name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :description %>
  <%= f.text_area :description, rows: '10', class: 'form-control' %>

  <span class="picture">
    <%= f.label :picture %>
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>

  <%= f.label :first_master %>
  <%= f.select :pen_name_id,
               current_user.pen_names.collect { |pen_name| [pen_name.name, pen_name.id] } %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>

<span class="alert alert-info positions">
  <b>positions</b><br>
  (leading members)
  - master:
  - vice:
  - chief:
  (general members)
  - common:
  - visitor:
</span>

<script type="text/javascript">
  $('#group_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>