<li id="group-<%= group.id %>">
  <%= group_icon_for(group, {size: 40}) %>
  <span class="name"><i><%= link_to group.name, group %></i></span>
  <span class="description"><%= group.description %></span>

  <span class="footer">
    <span class="timestamp">
      updated <%= time_ago_in_words(group.updated_at) %> ago.
    </span>
    <span class="edit_command">
      <%= link_to "[edit]", edit_group_path(group) %>
      <%= link_to "[delete]", group, method: :delete,
                                     data: { confirm: "You sure?" } %>
    </span>
  </span>
</li>