<li id="group-<%= group.id %>">

  <span class="header">
    <span class="name"><b><%= link_to group.name, group %></b></span>
  </span>

  <span class="body">
    <span class="description"><%= group.description %></span>
  </span>

  <span class="footer">
    <span class="timestamp">
      updated <%= time_ago_in_words(group.updated_at) %> ago.
    </span>
    <span class="command">
      <%= link_to "[edit]", edit_group_path(group) %>
      <%= link_to "[delete]", group, method: :delete,
                                     data: { confirm: "You sure?" } %>
    </span>
  </span>

</li>