<section class="group_info">

  <%= group_icon_for(@group, {size: 40}) %>

  <span class="name">(group) <b><%= @group.name %></b></span>
  <span class="description"><%= @group.description %></span>

  <span class="timestamp">
    created <%= time_ago_in_words(@group.created_at) %> ago.<br>
    updated <%= time_ago_in_words(@group.updated_at) %> ago.
  </span>

</section>