<div class="info-footer">
  
  <span class="timestamp text-muted small">
    <%= timestamp(group) %>
  </span>
  
  <span class="counter text-muted small">
    (
      <% if pen_name %>
        <%= link_to "members: #{group.members.count}", group_members_path(group) %>
      <% else %>
        <%= "members: #{group.members.count}" %>
      <% end %>
    )
  </span>
  
  <span class="command">
    <% if kind == "show" %>
 
      <% if group.can_join?(current_user) %>
        <span class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            [join] <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <% pen_name = group.get_user_pen_name(current_user) %>
            <% if pen_name %>
              <li><%= link_to pen_name.name,
                              join_group_path(group, { group: {pen_name_id: pen_name.id} }),
                              data: { confirm: "You sure?" } %></li>
            <% else %>
              <% current_user.pen_names.each do |pen_name| %>
                <li><%= link_to pen_name.name,
                                join_group_path(group, { group: {pen_name_id: pen_name.id} }),
                                data: { confirm: "You sure?" } %></li>
              <% end %>
            <% end %>
          </ul>
        </span>
      <% end %> 

      <% if group.can_unjoin?(current_user) %>
        <span class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            [unjoin] <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><%= link_to pen_name.name,
                    unjoin_group_path(group, { group: {pen_name_id: pen_name.id} }),
                    data: { confirm: "You sure?" } %></li>
          </ul>
        </span>
      <% end %>

      <% if group.can_update?(current_user) %>
        <%= link_to "[edit]", edit_group_path(group) %>
      <% end %>
      <% if group.can_destroy?(current_user) %>
        <%= link_to "[delete]", group, method: :delete,
                               data: { confirm: "You sure?" } %>
      <% end %>

    <% end %>
  </span>
  
</div>