<span class="timestamp text-muted">
  <%= timestamp(group) %>
</span>

<span class="counter text-muted">
  (
    <% if pen_name %>
      <%= "group_notes: #{group.group_notes.count}" %>,
      <%= "group_rooms: #{group.group_rooms.count}" %>,
      <%= link_to "members: #{group.members.count}", group_members_path(group) %>
    <% else %>
      <%= "group_notes: #{group.group_notes.where(status: Note::ST_OPEN).count}" %>,
      <%= "group_rooms: #{group.group_rooms.where(status: Room::ST_OPEN).count}" %>,
      <%= "members: #{group.members.count}" %>
    <% end %>
  )
</span>

<span class="command">

  <% if kind == "_group" %>
    <% if pen_name %>
      <% if group.is_general_member?(pen_name) %>
        <span class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            [unjoin] <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><%= link_to pen_name.name,
                    unjoin_group_path(group, { group: {pen_name_id: pen_name.id} }),
                    data: { confirm: "You sure?" } %></li>
          </ul>
        </span>
      <% end %>

    <% else %>
      <span class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          [join] <b class="caret"></b>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <% current_user.pen_names.each do |pen_name| %>
            <li><%= link_to pen_name.name,
                            join_group_path(group, { group: {pen_name_id: pen_name.id} }),
                            data: { confirm: "You sure?" } %></li>
          <% end %>
        </ul>
      </span>
    <% end %>
  <% end %>
    
  <% if kind == "show" %>
    <% if pen_name and group.is_leading_member?(pen_name) %>
      <%= link_to "[edit]", edit_group_path(group) %>
      <%= link_to "[delete]", group, method: :delete,
                               data: { confirm: "You sure?" } %>
    <% end %>
  <% end %>

</span>
