<li id="member-<%= member.id %>">

  <span class="header">
    <span class="position">(<%= @group.position(member).downcase %>)</span><br>
    <span class="name"><i><%= member.name %></i></span>
  </span>

  <span class="body">
    <span class="description"><%= member.description %></span>
  </span>

  <span class="footer">
    <span class="timestamp">
      updated <%= time_ago_in_words(member.updated_at) %> ago.
    </span>
    <span class="edit_command">
    </span>
  </span>

</li>
