<li id="member-<%= member.id %>">
  <span class="position">(<%= @group.position(member).downcase %>)</span><br>
  <span class="name"><i><%= member.name %></i></span>
  <span class="description"><%= member.description %></span>

  <span class="footer">
    <span class="timestamp">
      updated <%= time_ago_in_words(member.updated_at) %> ago.
    </span>
    <span class="edit_command">
      <%= link_to "[edit]", "#" %>
      <%= link_to "[delete]", "#" %>
    </span>
  </span>
</li>
