<% provide(:title, @group.name + " Books") %>

<% pen_name = @group.get_user_member(current_user) %>

<div class="row">

  <aside class="col-md-4">

    <section class="group_info">

      (group books)<br>

      <span class="header">
        <span class="name">
          <% if pen_name %>
            <b><%= link_to @group.name, @group %></b>
            <i>(<%= "#{pen_name.name} as #{@group.get_position_name(pen_name)}" %>)</i>
          <% else %>
            <b><%= group.name %></b>
          <% end %>
        </span>

        <% if @group.is_open? %>
          <span class="badge badge-primary">open</span>
        <% else %>
          <span class="badge badge-dark">close</span>
        <% end %>
      </span>

      <span class="body">
        <span class="description"><%= @group.description %></span>
      </span>

      <%= icon_for(@group, { name: @group.name, size: 256 }) %>

      <span class="footer">
        <span class="timestamp">
          created <%= time_ago_in_words(@group.created_at) %> ago.
          updated <%= time_ago_in_words(@group.updated_at) %> ago.
        </span>

        <span class="counter text-muted">
          (
            <%= "evaluation: #{@group.positive_count} / #{@group.negative_count}" %>,

            <%= link_to "books: #{@group.books.count}", books_group_path(@group) %>,
            <% if pen_name %>
              <%= link_to "members: #{@group.members.count}", members_group_path(@group) %>,
              <%= link_to "messages: #{@group.messages.count}", messages_group_path(@group) %>
            <% else %>
              <%= "members: #{@group.members.count}" %>
            <% end %>
          )
        </span>
      </span>

    </section>

  </aside>

  <div class="col-md-8">

    <span class="main_header">
      <span class="count">
        group books (<%= @all_books.count %>)
      </span>
      <span class="command">
        <%= link_to "[books]", books_path %>
        <%= link_to "[new]", new_group_group_note_path(@group) %>
      </span>
    </span>
    <% if @all_books.any? %>
      <ol class="note_list">
        <%= render @page_books %>
      </ol>
      <%= will_paginate @page_books %>
    <% end %>

  </div>

</div>