<% provide(:title, "Groups") %>
<div class="row">

  <aside class="col-md-4">

    <span class="side_header">
      <span class="count">
        pickup groups (<%= @sample_groups.count %>)
      </span>
      <span class="new_command">
      </span>
    </span>
    <% if @sample_groups.any? %>
      <ol class="side_list">
        <%= render @sample_groups %>
      </ol>
    <% end %>

  </aside>

  <div class="col-md-8">

    <span class="main_header">
      <span class="count">
        group notes (<%= @all_groups.count %>)
      </span>
      <span class="new_command">
      </span>
    </span>
    <% if @all_groups.any? %>
      <ol class="note_list">
        <%= render @page_groups %>
      </ol>
      <%= will_paginate @page_groups %>
    <% end %>

  </div>

</div>