<% provide(:title, @group.name + ' Members') %>

<% pen_name = @group.get_user_member(current_user) %>

<div class="row">

  <aside class="col-md-4">

    <section class="group_info">

      (group members)<br>

      <span class="header">
        <span class="name">
          <% if pen_name %>
            <b><%= link_to @group.name, @group %></b>
            <i>(<%= "#{pen_name.name} as #{@group.get_position_name(pen_name)}" %>)</i>
          <% else %>
            <b><%= @group.name %></b>
          <% end %>
        </span>

        <% if @group.is_open? %>
          <span class="badge badge-primary">open</span>
        <% else %>
          <span class="badge badge-dark">closed</span>
        <% end %>
      </span>

      <span class="body">
        <span class="description"><%= @group.description %></span>
      </span>

      <%= icon_for(@group, { name: @group.name, size: 256 }) %>

      <span class="footer">
        <span class="timestamp">
          created <%= time_ago_in_words(@group.created_at) %> ago.
          updated <%= time_ago_in_words(@group.updated_at) %> ago.
        </span>

        <span class="counter text-muted">
          (
            <%= link_to "works: #{@group.works.count}", works_group_path(@group) %>,
            <% if pen_name %>
              <%= link_to "members: #{@group.members.count}", members_group_path(@group) %>,
              <%= link_to "messages: #{@group.messages.count}", messages_group_path(@group) %>
            <% else %>
              <%= "members: #{@group.members.count}" %>
            <% end %>
          )
        </span>

        <span class="command">

          <% if @group.is_open? %>
            <%= link_to "[to_close]", to_close_group_path(@group) %>
          <% else %>
            <%= link_to "[to_open]", to_open_group_path(@group) %>
          <% end %>
          <%= link_to "[edit]", edit_group_path(@group) %>
          <%= link_to "[delete]", @group, method: :delete,
                                     data: { confirm: "You sure?" } %>
        </span>
      </span>

    </section>

    <hr>

    <span class="side_header">
      <span class="count">
        leading members (<%= @leading_members.count %>)
      </span>
      <span class="new_command">
      </span>
    </span>
    <% if @leading_members.any? %>
      <ol class="side_list">
        <%= render :partial => "member", :collection => @leading_members %>
      </ol>
    <% end %>

  </aside>

  <div class="col-md-8">

    <span class="main_header">
      <span class="count">
        general members (<%= @group.general_members.count %>)
      </span>
      <span class="new_command">
      </span>
    </span>

    <% if @group.general_members.any? %>
      <ol class="note_list">
        <%= render :partial => "member", :collection => @general_members %>
      </ol>
      <%= will_paginate @general_members %>
    <% end %>
  </div>

</div>