<% provide(:title, @group.name) %>
<div class="row">

  <aside class="col-md-4">

    <%= render "info" %>

    <span class="command">
      <%= link_to "[group home]", @group %>
    </span>

    <hr>

    <span class="side_header">
      <span class="count">
        leading members (<%= @leading_members.count %>)
      </span>
      <span class="new_command">
      </span>
    </span>
    <% if @leading_members.any? %>
      <ol class="side_list">
        <%= render :partial => "member", :collection => @leading_members %>
      </ol>
    <% end %>

  </aside>

  <div class="col-md-8">

    <span class="main_header">
      <span class="count">
        general members (<%= @group.general_members.count %>)
      </span>
      <span class="new_command">
      </span>
    </span>

    <% if @group.general_members.any? %>
      <ol class="note_list">
        <%= render :partial => "member", :collection => @general_members %>
      </ol>
      <%= will_paginate @general_members %>
    <% end %>
  </div>

</div>