<% provide(:title, @group.name + ' Members') %>

<% pen_name = @group.get_user_member(current_user) %>

<div class="row">

  <aside class="col-md-4">

    <section class="group_info">

      (group members)<br>

      <%= render 'groups/info_header_body', group: @group, pen_name: pen_name %>

      <%= icon_for(@group, { name: @group.name, size: 256 }) %>

      <%= render 'groups/info_footer',
                  group: @group, pen_name: pen_name,
                  index_command: false, home_command: false, members_command: true %>
    </section>

    <hr>

    <span class="side_header">
      <span class="count">
        leading members (<%= @leading_members.count %>)
      </span>
      <span class="new_command">
      </span>
    </span>
    <% if @leading_members.any? %>
      <ol class="side_list">
        <%= render :partial => "member", :collection => @leading_members %>
      </ol>
    <% end %>

  </aside>

  <div class="col-md-8">

    <span class="main_header">
      <span class="count">
        general members (<%= @group.general_members.count %>)
      </span>
      <span class="new_command">
      </span>
    </span>

    <% if @group.general_members.any? %>
      <ol class="note_list">
        <%= render :partial => "member", :collection => @general_members %>
      </ol>
      <%= will_paginate @general_members %>
    <% end %>
  </div>

</div>