<% provide(:title, @group.name + " Home") %>

<% pen_name = @group.get_user_member(current_user) %>
<% if pen_name and @group.is_leading_member?(pen_name) %>
  <% new_room_command = link_to "[new]", new_group_group_room_path(@group) %>
  <% new_note_command = link_to "[new]", new_group_group_note_path(@group) %>
<% else %>
  <% new_room_command = "" %>
  <% new_note_command = "" %>
<% end %>

<div class="row">

  <aside class="col-md-4">

    <section class="group_info">

      (group home)<br>

      <%= render 'groups/info_header_body', group: @group, pen_name: pen_name %>

      <%= icon_for(@group, { name: @group.name, size: 256 }) %><br>

      <%= render 'groups/info_footer',
                  group: @group, pen_name: pen_name, kind: "show" %>

    </section>

    <%= render 'shared/paging_list',
                title: "rooms", all_list: @all_rooms, page_list: @page_rooms,
                command: new_room_command, paging: true %>

  </aside>

  <div class="col-md-8">

    <%= render 'shared/paging_list',
                title: "notes", all_list: @all_notes, page_list: @page_notes,
                command: new_note_command, paging: true %>

  </div>

</div>