<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <span class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, type: "text", class: 'form-control' %>
  </span>

  <span class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </span>

  <span class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </span>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>

<%= render 'static_pages/help_password_requirements' %>
