<% provide(:title, @user.name + "Home") %>
<div class="row">

  <aside class="col-md-4">

    <section class="info">
      (user home)<br>

      <span class="name"><b><%= @user.name %></b></span>

      <span class="timestamp">
        <%= timestamp(@user) %>
      </span>

      <span class="command">
        <%= link_to "[edit]", edit_user_path(current_user) %>
        <%= link_to "[delete]", user_path(current_user),
                                  method: :delete, data: { confirm: "You sure?" } %>
      </span>

    </section>

    <hr>

    <%= render 'shared/paging_list',
                title: "user rooms", all_list: @all_rooms, page_list: @page_rooms,
                command: (link_to "[new]", new_user_room_path), paging: true %>

  </aside>

  <div class="col-md-8">

    <%= render 'shared/paging_list',
                title: "user notes", all_list: @all_notes, page_list: @page_notes,
                command: (link_to "[new]", new_user_note_path), paging: true %>

  </div>

</div>