<% provide(:title, @user.name) %>
<div class="row">

  <aside class="col-md-4">

    <%= render "user_info" %>

    <hr>

    <span class="header">
      <span class="count">
        pen names (<%= @user.pen_names.count %>)
      </span>
      <span class="new_command">
        <%= link_to "[new]", new_pen_name_path %>
      </span>
    </span>

    <% if @user.pen_names.any? %>
      <ol class="pen_names">
        <%= render @pen_names %>
      </ol>
    <% end %>

  <hr>

    <span class="header">
      <span class="count">
        groups (<%= @user.groups.count %>)
      </span>
      <span class="new_command">
        <%= link_to "[new]", new_group_path %>
      </span>
    </span>

    <% if @user.groups.any? %>
      <ol class="pen_names">
        <%= render @groups %>
      </ol>
    <% end %>

  </aside>

  <div class="col-md-8">

    <span class="header">
      <span class="count">
        notes (<%= @user.notes.count %>)
      </span>
      <span class="new_command">
        <%= link_to "[new]", new_note_path %>
      </span>
    </span>

    <% if @user.notes.any? %>
      <ol class="notes">
        <%= render @notes %>
      </ol>
      <%= will_paginate @notes %>
    <% end %>
  </div>

</div>