<% provide(:title, @user.name + "Home") %>
<div class="row">

  <aside class="col-md-4">

    <section class="info">
      (user home)<br>

      <span class="name"><b><%= @user.name %></b></span>

      <span class="timestamp">
        <%= timestamp(@user) %>
      </span>

    </section>

    <hr>

    <span class="side_header">
      <span class="count">
        pen_names (<%= @user.pen_names.count %>)
      </span>
      <span class="command">
        <%= link_to "[pen_names]", pen_names_path %>
        <%= link_to "[new]", new_pen_name_path %>
      </span>
    </span>
    <% if @user.pen_names.any? %>
      <ol class="side_list">
        <%= render @pen_names %>
      </ol>
    <% end %>

    <hr>

    <span class="side_header">
      <span class="count">
        groups (<%= @user.groups.count %>)
      </span>
      <span class="command">
        <%= link_to "[groups]", groups_path %>
        <%= link_to "[new]", new_group_path %>
      </span>
    </span>
    <% if @user.groups.any? %>
      <ol class="side_list">
        <%= render @groups %>
      </ol>
    <% end %>

  </aside>

  <div class="col-md-8">

    <span class="main_header">
      <span class="count">
        user_notes (<%= @all_notes.count %>)
      </span>
      <span class="command">
        <%= link_to "[notes,", notes_path %>
        <%= link_to "(pos,", notes_path({mode: "pos"}) %>
        <%= link_to "neg)]", notes_path({mode: "neg"}) %>
        <%= link_to "[new]", new_user_note_path %>
      </span>
    </span>
    <% if @all_notes.any? %>
      <ol class="note_list">
        <%= render @page_notes %>
      </ol>
      <%= will_paginate @page_notes, renderer: will_pagenate_renderer %>
    <% end %>

  </div>

</div>