<% provide(:title, @user.name) %>
<div class="row">

  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="col-md-8">
    <span class="header">
      <span class="count">
        notes (<%= @user.notes.count %>)
      </span>
      <span class="new_command">
        <%= link_to "[new]", new_note_path %>
      </span>
    </span>

    <% if @user.notes.any? %>
      <ol class="notes">
        <%= render @notes %>
      </ol>
      <%= will_paginate @notes %>
    <% end %>
  </div>

</div>