<!-- title -->
<!-- all_list -->
<!-- page_list -->
<!-- command -->
<!-- paging -->

<div class="paging_list_header">
  <span class="title-count">
    <%= title %> (<%= all_list.count %>)
  </span>
  <span class="command">
    <%= command %>
  </span>
</div>
<% if all_list.any? %>
  <ol class="list-unstyled">
    <%= render page_list %>
  </ol>
  <% if paging %>
    <%= will_paginate page_list, renderer: will_pagenate_renderer %>
  <% end %>
<% end %>