<li id="book-<%= book.id %>">

  <%= icon_for(book, { name: book.title, size: 64 }) %>

  <span class="header">
    <span class="title"><b><%= link_to book.title, book %></b></span>
    <span class="author"><i>by <%= book.author %></i></span>
  </span>

  <span class="body">
    <span class="description"><%= book.description %></span>
  </span>

  <span class="footer">
    <span class="timestamp">
      updated <%= time_ago_in_words(book.updated_at) %> ago.
    </span>
    <span class="command">
      <%= link_to "[evaluations]", evaluations_book_path(book) %>
    </span>
  </span>

</li>
