<li id="book-<%= book.id %>">

  <%= icon_for(book, { name: book.title, size: 64 }) %>

  <span class="header">
    <span class="title"><b><%= link_to book.title, book %></b></span>
    <span class="author"><i>by <%= book.author %></i></span>
    <% if book.pen_name.user == current_user %>
      <span class="badge badge-secondary">mine</span>
    <% end %>
  </span>

  <span class="body">
    <span class="description"><%= book.description %></span>
  </span>

  <span class="footer">
    <span class="timestamp text-muted">
      updated <%= time_ago_in_words(book.created_at) %> ago.
    </span>
    <span class="counter text-muted">
      (<%= "evaluation: #{book.positive_count} / #{book.negative_count}" %>)
    </span>

    <span class="command">
      <span class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          [evaluate: <%= book.get_evaluation(current_user) %>]
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <% 5.downto(-5).each do |value| %>
            <li><%= link_to value, evaluate_book_path(book, { book: {evaluation: value} }) %></li>
          <% end %>
        </ul>
      </span>
    </span>
  </span>

</li>
