<li id="group_memo-<%= group_memo.id %>">

  <span class="header">
    <% if group_memo.title %>
      <span class="title"><b><%= group_memo.title %></b></span>
    <% end %>
  </span>

  <span class="body">
    <span class="content"><%= group_memo.content %></span>

    <% if group_memo.picture? %>
      <%= image_tag group_memo.picture.url %>
    <% end %>
  </span>

  <span class="footer">
    <span class="timestamp text-muted">
      updated <%= time_ago_in_words(group_memo.updated_at) %> ago.
    </span>

    <span class="command">
      <%= link_to "[edit]", edit_group_group_note_group_memo_path(@group, @note, group_memo) %>
      <%= link_to "[delete]", group_group_note_group_memo_path(@group, @note, group_memo),
                              method: :delete, data: { confirm: "You sure?" } %>
    </span>
  </span>

</li>