<li id="group_memo-<%= group_memo.id %>">

  <span class="content">
    <%= markdown(group_memo.content).html_safe %>
    <%= image_tag group_memo.picture.url if group_memo.picture? %>
  </span>

  <span class="footer">
    <span class="timestamp">
      updated <%= time_ago_in_words(group_memo.updated_at) %> ago.
      (<%= group_memo.number %>)
    </span>

    <span class="command">
      <%= link_to "[edit]", edit_group_gnote_gmemo_path(@group, @note, group_memo) %>
      <%= link_to "[delete]", group_gnote_gmemo_path(@group, @note, group_memo), method: :delete,
                                       data: { confirm: "You sure?" } %>
    </span>
  </span>
</li>