<li id="group_memo-<%= group_memo.id %>">

  <div class="card mb-3">

    <div class="card-body">
      <% if group_memo.title %>
        <h4 class="card-title"><%= group_memo.title %></h4>
      <% end %>
      <p class="card-text"><%= group_memo.content %></p>
    </div>

    <% if group_memo.picture? %>
      <%= image_tag group_memo.picture.url, class: "card-img" %>
    <% end %>

  </div>

  <span class="footer">
    <span class="timestamp text-muted">
      updated <%= time_ago_in_words(group_memo.updated_at) %> ago.
    </span>

    <span class="command">
      <%= link_to "[edit]", edit_group_group_note_group_memo_path(@group, @note, group_memo) %>
      <%= link_to "[delete]", group_group_note_group_memo_path(@group, @note, group_memo),
                              method: :delete, data: { confirm: "You sure?" } %>
    </span>
  </span>

</li>