<% provide(:title, @room.title) %>

<div class="row">

  <aside class="col-md-4">

    <section class="info">
      (user room)<br>

      <%= render 'user_rooms/info_header_body', room: @room %>

      <%= icon_for(@room, { name: @room.title, size: 256 }) %>

      <%= render 'user_rooms/info_footer', room: @room, kind: "show" %>

    </section>
    
  </aside>

  <div class="col-md-8">

    <span class="message_form">
      <%= render 'messages/form' %>
    </span>

    <%= render 'shared/paging_list',
                title: "messages", all_list: @all_messages, page_list: @page_messages,
                command: "", paging: true %>

  </div>

</div>