<li id="group_picture-<%= group_picture.id %>">

  <span class="header">
    <% if group_picture.picture? %>
      <%= image_tag group_picture.picture.url(:thumb) %>
    <% end %>
  </span>

  <span class="body">
    <% if group_picture.picture? %>
      <%= link_to "#{group_picture.picture.url}", group_picture.picture.url %>
    <% end %>
  </span>

  <span class="footer">
    <span class="timestamp text-muted">
      updated <%= time_ago_in_words(group_picture.updated_at) %> ago.
    </span>
    <span class="command">
      <%= link_to "[edit]", edit_group_group_note_group_picture_path(@group, @note, group_picture) %>
      <%= link_to "[delete]", group_group_note_group_picture_path(@group, @note, group_picture),
                              method: :delete, data: { confirm: "You sure?" } %>
    </span>
  </span>

</li>