<li id="user_memo-<%= user_memo.id %>">

  <span class="header">
    <% if user_memo.title %>
      <span class="title"><b><%= user_memo.title %></b></span>
    <% end %>
  </span>

  <span class="body">
    <span class="content"><%= sanitize markdown(user_memo.content) %></span>
  </span>

  <span class="footer">
    <span class="timestamp text-muted">
      <%= timestamp(user_memo) %>
    </span>

    <span class="number text-muted">
      (<%= user_memo.number %>)
    </span>

    <span class="command">
      <% if home_command and @note.user == current_user %>
        <%= link_to "[edit]", edit_user_note_user_memo_path(@note, user_memo) %>
        <%= link_to "[delete]", user_note_user_memo_path(@note, user_memo),
                                method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    </span>
  </span>

</li>