<li id="user_memo-<%= user_memo.id %>">

  <div class="card mb-3">

    <div class="card-body">
      <% if user_memo.title %>
        <h4 class="card-title"><%= user_memo.title %></h4>
      <% end %>
      <p class="card-text"><%= user_memo.content %></p>
    </div>

    <% if user_memo.picture? %>
      <%= image_tag user_memo.picture.url, class: "card-img" %>
    <% end %>

  </div>

  <span class="footer">
    <span class="timestamp text-muted">
      updated <%= time_ago_in_words(user_memo.updated_at) %> ago.
    </span>

    <span class="command">
      <%= link_to "[edit]", edit_user_note_user_memo_path(@note, user_memo) %>
      <%= link_to "[delete]", user_note_user_memo_path(@note, user_memo),
                              method: :delete, data: { confirm: "You sure?" } %>
    </span>
  </span>

</li>