<span class="footer">
  <span class="timestamp text-muted">
    <%= timestamp(room) %>
  </span>

  <span class="command">
    <% if kind == "show" %>
      <% if room.can_setup?(current_user) %>
        <% if room.is_open? %>
          <%= link_to "[to_close]", to_close_room_path(room) %>
        <% else %>
          <%= link_to "[to_open]", to_open_room_path(room) %>
        <% end %>
      <% end %>
      <% if room.can_update?(current_user) %>
        <%= link_to "[edit]", edit_group_room_path(room.group, room) %>
      <% end %>
      <% if room.can_destroy?(current_user) %>
        <%= link_to "[delete]", room_path(room), method: :delete,
                                data: { confirm: "You sure?" } %>
      <% end %>
    <% end %>
  </span>
</span>