<%= form_for([@note.becomes(Note), @memo]) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <span class="field">
    <%= f.label :title %>
    <%= f.text_field :title, rows: '10', class: 'form-control' %>

    <%= f.label :content %>
    <%= f.text_area :content, rows: '10', class: 'form-control' %>

    <%= f.label :number %>
    <%= f.number_field :number, min: '1', max: "#{@max}", value: "#{@value}", class: 'form-control' %>
  </span>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>

<% end %>


