<li id="memo-<%= memo.id %>" class="media">

  <div class="media-body">

    <span class="title">
      <% if memo.title %>
        <b><%= memo.title %></b>
      <% end %>
    </span>

    <span class="content">
      <%= sanitize markdown(memo.content) %>
    </span>

    <span class="timestamp text-muted small">
      <%= timestamp(memo) %>
    </span>

    <span class="number text-muted small">
      (<%= memo.number %>)
    </span>

    <span class="command">
      <% if @note.can_update?(current_user) %>
        <%= link_to "[edit]", edit_note_memo_path(@note, memo) %>
        <%= link_to "[delete]", note_memo_path(@note, memo),
                                method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    </span>

  </div>

</li>