<header>

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">

    <%= link_to app_name, root_path, id: "logo", class: "navbar-brand" %>

    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

      <% if logged_in? %>

        <li class="nav-item active dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            Note <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><%= link_to "Notes", notes_path, class: "dropdown-item" %></li>
            <li><%= link_to "Favorite", notes_path({mode: "favorite"}), class: "dropdown-item" %></li>
            <li class="dropdown-divider"></li>
            <li><%= link_to "Disliked", notes_path({mode: "disliked"}), class: "dropdown-item" %></li>
          </ul>
        </li>

        <li class="nav-item active dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            Group <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <% current_user.groups.each do |group| %>
              <li><%= link_to group.name, group, class: "dropdown-item" %></li>
            <% end %>

            <% if current_user.keyword %>
              <% keyword_groups = Group.where(keyword: current_user.keyword) %>
              <% if keyword_groups.any? %>
                <li class="dropdown-divider"></li>
                <% keyword_groups.each do |group| %>
                  <li><%= link_to group.name, group, class: "dropdown-item" %></li>
                <% end %>
              <% end %>
            <% end %>

            <li class="dropdown-divider"></li>
            <li><%= link_to "New", new_group_path, class: "dropdown-item" %></li>
          </ul>
        </li>

        <li class="nav-item active dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            PenName <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <% current_user.pen_names.each do |pen_name| %>
              <li><%= link_to pen_name.name, pen_name, class: "dropdown-item" %></li>
            <% end %>

            <% if current_user.keyword %>
              <% keyword_pen_names = PenName.where(keyword: current_user.keyword) %>
              <% if keyword_pen_names.any? %>
                <li class="dropdown-divider"></li>
                <% keyword_pen_names.each do |group| %>
                  <li><%= link_to group.name, group, class: "dropdown-item" %></li>
                <% end %>
              <% end %>
            <% end %>
            
            <li class="dropdown-divider"></li>
            <li><%= link_to "New", new_pen_name_path, class: "dropdown-item" %></li>
          </ul>
        </li>

        <li class="nav-item active dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            User <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><%= link_to "Home", current_user, class: "dropdown-item" %></li>
            <li class="dropdown-divider"></li>
            <li><%= link_to "Log out", logout_path,
                                        method: :delete, class: "dropdown-item" %></li>
          </ul>
        </li>
      <% else %>
        <li class="nav-item active"><%= link_to "Log in", login_path, class: "nav-link" %></li>
      <% end %>

    </ul>

  </nav>

</header>
