<% provide(:title, @group.name + ' Members') %>

<% pen_name = @group.get_user_member(current_user) %>

<div class="row">

  <aside class="col-md-4">

    <section class="group_info">

      (group members)<br>

      <%= render 'groups/info_header_body', group: @group, pen_name: pen_name %>

      <%= icon_for(@group, { name: @group.name, size: 256 }) %>

      <%= render 'groups/info_footer',
                  group: @group, pen_name: pen_name, kind: "members" %>
    </section>

  </aside>

  <div class="col-md-8">

    <span class="main_header">
      <span class="count">
        members (<%= @all_members.count %>)
      </span>
      <span class="new_command">
      </span>
    </span>

    <% if @all_members.any? %>
      <ol class="note_list">
        <%= render :partial => "member", :collection => @page_members %>
      </ol>
      <%= will_paginate @page_members, renderer: will_pagenate_renderer %>
    <% end %>
  </div>

</div>